@charset "UTF-8";
/*ОБНУЛЕНИЕ СТИЛЕЙ*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------*/
.wrapper {
  font-size: 16px;
  font-weight: 400;
}

.find__article .find__search .find__search-btn::before {
  font-size: 14px;
  font-weight: 500;
}

.header__sign, .header__menu_item, .title {
  font-size: 20px;
  font-weight: 600;
}

.spoiler .header__sub-menu .header__sub-menu_item .header__sub-menu_link, .header__logo .header__logo_title {
  font-size: 16px;
  font-weight: 700;
}

.border__txt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #1B1C57;
}

.title {
  font-size: 32px;
  color: #1B1C57;
  text-transform: capitalize;
  line-height: 40px;
}

.paragraph {
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
}

.headline {
  position: relative;
  color: #F59E0B;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-left: 40px;
}
.headline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
}
@media (max-width: 550px) {
  .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    padding-top: 8px;
  }
  .headline::before {
    top: 0;
    left: auto;
  }
}
.headline_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  padding-top: 8px;
}
.headline_center::before {
  top: 0;
  left: auto;
}

.title {
  color: #1B1C57;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
}
@media screen and (max-width: 686px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}
.title_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* ---------------- */
.find__slider {
  width: 802px;
  overflow: hidden;
  /* Лента слайдов */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
@media screen and (max-width: 1071px) {
  .find__slider {
    width: 100%;
    padding: 0px 15px;
  }
}
.find__slider .slick-track {
  min-width: 0;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .find__slider .slick-track {
    padding-top: 150px;
  }
}
.find__slider .slick-list {
  min-width: 0;
  width: 442px;
  overflow: visible;
}
@media (max-width: 462px) {
  .find__slider .slick-list {
    width: 312px;
  }
}
.find__slider .slick-dots {
  padding: 16px 32px;
}
.find__slider .slick-dots li {
  display: inline;
}
.find__slider .slick-dots li:not(:last-child) {
  margin-right: 12px;
}
.find__slider .slick-dots li button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.find__slider .slick-dots li button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}
.find__slider .slick-dots li.slick-active button {
  opacity: 1;
}
.find__slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.4;
}
.find__slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.find__slider .slick-slide .slider-article__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__slider .slick-list {
  max-width: 380px;
  overflow: visible;
}

.main__featured {
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка не активная */
}
@media screen and (max-width: 378px) {
  .main__featured .slick-list {
    max-width: 320px;
  }
}
.main__featured .slick-arrow {
  font-size: 0px;
  width: 60px;
  height: 52px;
  border-radius: 32px;
  background: #10B981;
  position: relative;
}
.main__featured .slick-arrow::after {
  content: "dsf";
  position: absolute;
  background: url("../img/next.svg") center no-repeat;
  background-size: 8px;
  top: 0;
  left: 0;
  width: 60px;
  height: 52px;
}
.main__featured .slick-arrow.slick-prev {
  margin-right: 16px;
}
.main__featured .slick-arrow.slick-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main__featured .slick-arrow.slick-disabled {
  background-color: #E0E3EB;
}

.about-us__slider {
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.about-us__slider .slick-list {
  min-width: 0;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 546px) {
  .about-us__slider .slick-list {
    max-width: 796px;
    overflow: visible;
  }
}
.about-us__slider .slick-slide {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 546px) {
  .about-us__slider .slick-slide {
    opacity: 0;
  }
}
.about-us__slider .slick-current {
  opacity: 1;
}
.about-us__slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-us__slider .slick-dots li {
  padding: 8px;
  cursor: pointer;
}
.about-us__slider .slick-dots li:hover button {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.about-us__slider .slick-dots li.slick-active button {
  background-color: #3C4563;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.about-us__slider .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #E0E3EB;
}

body {
  font-family: Lexend;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px 15px;
  width: 100%;
}

.header {
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 126px;
  width: 100%;
}

.header__logo {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo .header__logo_title {
  margin-left: 12px;
}
@media (max-width: 421.98px) {
  .header__logo .header__logo_title {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767.98px) {
  .header__menu {
    z-index: 55;
    position: fixed;
    right: -100%;
    top: 0;
    padding: 0px 15px;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(16, 185, 129, 0.5254901961);
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
    padding-top: 126px;
  }
}
.header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .header__menu .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
.header__menu .header__list .header__menu_link {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-active {
  right: 0;
}

#header__burger {
  z-index: 99;
  width: 46px;
  height: 46px;
  display: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  #header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#header__burger > span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: #047857;
}

#header__burger > span:not(:last-child) {
  margin-bottom: 7px;
}

#header__burger, #header__burger > span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header__burger.active {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header__burger.active > span:nth-child(2) {
  width: 0px;
}

#header__burger.active > span:nth-child(1),
#header__burger.active > span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#header__burger.active > span:nth-child(1) {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

#header__burger.active > span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(90deg);
          transform: translateY(-9px) rotate(90deg);
}

.header__menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 12px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
}
@media (max-width: 767.98px) {
  .header__menu_item {
    margin: 15px 5px;
    width: 280px;
  }
}
.header__menu_item:hover {
  background: #D1FAE5;
  -webkit-box-shadow: 1px 1px 10px 2px #D1FAE5;
          box-shadow: 1px 1px 10px 2px #D1FAE5;
}
.header__menu_item:hover .header__menu_link {
  color: #047857;
}
.header__menu_item:hover .heeder-menu-more__line {
  background-color: #047857;
}
.header__menu_item:hover .heeder-menu-more__line:first-child {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-right: -3px;
}
.header__menu_item:hover .heeder-menu-more__line:last-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.header__menu_item:hover .header__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spoiler {
  min-width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
@media (max-width: 767.98px) {
  .spoiler {
    min-width: 280px;
  }
}
.spoiler .header__sub-menu {
  position: absolute;
  min-width: 120px;
  top: 32px;
  left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #D1FAE5;
  -webkit-box-shadow: 1px 1px 10px 2px #D1FAE5;
          box-shadow: 1px 1px 10px 2px #D1FAE5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 8px 16px;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  cursor: auto;
}
.spoiler .header__sub-menu .header__sub-menu_item {
  margin: 4px 0px;
}
.spoiler .header__sub-menu .header__sub-menu_item .header__sub-menu_link {
  font-size: 14px;
  color: #047857;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.spoiler .header__sub-menu .header__sub-menu_item .header__sub-menu_link:hover {
  color: #0ca77e;
}

.header__menu_more {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heeder-menu-more__line {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 2.5px;
  width: 10px;
  background-color: #fff;
  border-radius: 2px;
}
.heeder-menu-more__line:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: -3px;
}
.heeder-menu-more__line:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__sign {
  z-index: 99;
  background-color: #D1FAE5;
  color: #047857;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 24px;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  margin-left: 3%;
}
@media (max-width: 767.98px) {
  .header__sign {
    min-width: none;
    margin: 0px 15px 0px 0px;
  }
}
.header__sign:hover {
  background-color: #dbf7e9;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main__find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 830px;
  overflow: hidden;
  margin-top: -126px;
}
.main__find .find__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1071px) {
  .main__find .find__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    margin-bottom: 40px;
    overflow: hidden;
  }
}

.find__article {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 15px;
  padding-top: 126px;
}
@media (max-width: 1071px) {
  .find__article {
    max-width: 600px;
    width: auto;
    padding-top: 26px;
  }
}
@media (max-width: 768px) {
  .find__article {
    padding-top: 0px;
  }
}
.find__article .find__title {
  text-align: left;
  font-size: 40px;
  max-width: 330px;
  line-height: 50px;
  margin: 15px 0px 24px 0px;
}
@media (max-width: 1071px) {
  .find__article .find__title {
    max-width: 480px;
  }
}
.find__article .find__paragraph {
  max-width: 490px;
  margin: 32px 0px;
}
.find__article .find__search {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: #FFFFFF;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  position: relative;
  max-width: 600px;
}
.find__article .find__search .find__search-icon {
  position: absolute;
  left: 20px;
}
.find__article .find__search .find__search-input {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  padding-left: 64px;
  opacity: 1;
}
.find__article .find__search .find__search-btn {
  z-index: 2;
  width: 109px;
  height: 48px;
  background: #10B981;
  border-radius: 32px;
  margin: 0px 4px;
  padding: 13px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
}
.find__article .find__search .find__search-btn::before {
  content: "Search";
  color: #fff;
  font-size: 14px;
  margin-right: 12px;
}
.find__article .find__search .find__search-btn:hover {
  background-color: #047857;
}
.find__article .find__search .find__search-btn .find__search-btn_img {
  z-index: 5;
  width: 7px;
}
.find__article .find__coo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
}
.find__article .find__coo .coo__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: auto;
}
@media (max-width: 491.98px) {
  .find__article .find__coo .coo__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.find__article .find__coo .coo__list .coo__item {
  margin: 5px 16px;
}

.find__image {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}
@media (max-width: 1071px) {
  .find__image {
    width: 100%;
  }
  .find__image .find__image-img {
    max-height: 126px;
  }
}
.find__image .find__image-img {
  width: 850px;
  -webkit-transform: translate(70px, 0px);
          transform: translate(70px, 0px);
}
@media (max-width: 1071px) {
  .find__image .find__image-img {
    width: 100%;
    -webkit-transform: translate(2px, 0px);
            transform: translate(2px, 0px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}
@media (max-width: 767.98px) {
  .find__image .find__image-img {
    display: none;
  }
}

.find__slider {
  z-index: 5;
}
@media screen and (min-width: 1071px) {
  .find__slider {
    margin: -252px 0px 0px 118px;
  }
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  background-color: #fff;
  border-radius: 32px;
  max-width: 420px;
  max-height: 160px;
}
.slider__item:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 462px) {
  .slider__item {
    max-width: 300px;
  }
  .slider__item:not(:last-child) {
    margin-right: 12px;
  }
}

.slider-item {
  -webkit-box-shadow: 0px 10px 8px rgba(72, 72, 72, 0.2);
          box-shadow: 0px 10px 8px rgba(72, 72, 72, 0.2);
}
.slider-item__img {
  width: 136px;
}
@media (max-width: 462px) {
  .slider-item__img {
    width: 92px;
  }
}
.slider-item__article {
  display: block;
  color: #1B1C57;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.slider-article__headline {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.slider-article__paragraph {
  margin: 8px 0px;
  color: #68799F;
  font-weight: 400;
}
.slider-article__rate-icon {
  margin: 3.5px 0;
}
.slider-article__rate-num {
  margin-left: 8px;
}

.find__decor {
  z-index: 1;
  position: absolute;
  top: -300px;
  left: -410px;
}

.main__featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 472px) {
  .main__featured {
    margin-top: 30px;
  }
}

.featured__container {
  margin: 0;
}

.featured-hat__navigation {
  display: none;
}

.navigationActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__hat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1071px) {
  .featured__hat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .featured__hat .featured-hat__title {
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
  }
  .featured__hat .featured-hat__categoryes {
    padding-left: 40px;
  }
  .featured__hat .featured-hat__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 20px 0 0;
  }
  .featured__hat .featured-hat__menu-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 700px) {
  .featured__hat .featured-hat__navigation {
    width: 100%;
    margin-top: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 40px;
  }
}
@media (max-width: 550px) {
  .featured__hat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__hat .featured-hat__menu-item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
  .featured__hat .featured-hat__navigation {
    padding-left: 0;
  }
  .featured__hat .featured-hat__categoryes {
    padding-left: 0px;
  }
}
.featured__head {
  margin: 0 15px;
}

.featured-hat__title {
  padding-left: 40px;
}
@media (max-width: 550px) {
  .featured-hat__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}
.featured-hat__categoryes {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 550px) {
  .featured-hat__categoryes {
    width: 100%;
  }
  .featured-hat__categoryes .featured-hat__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .featured-hat__categoryes .featured-hat__menu .featured-hat__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.featured-hat__menu {
  margin: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured-hat__menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  border-radius: 32px;
  padding: 0px 24px;
  border: 1px solid #E0E3EB;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  overflow: hidden;
}
.featured-hat__menu-item:not(:last-child) {
  margin-right: 32px;
}
.featured-hat__menu-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.featured-hat__menu-item:hover::after {
  background-color: rgba(209, 250, 229, 0.3607843137);
}
.featured-hat__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured-hat__menu-icon {
  fill: #888B97;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.featured-hat__menu-category {
  color: #888B97;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-left: 8px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* For Active Category */
.category-active {
  background-color: #D1FAE5;
  border: 1px solid #D1FAE5;
}
.category-active .featured-hat__menu-icon {
  fill: #10B981;
}
.category-active .featured-hat__menu-category {
  color: #10B981;
}

.featured__slider {
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -100%;
}
.featured-slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: 40px;
  max-width: 340px;
}
@media screen and (max-width: 620px) {
  .featured-slider__card {
    margin: 0 20px;
  }
}
@media screen and (max-width: 378px) {
  .featured-slider__card {
    max-width: 320px;
  }
}
.featured-slider__card:hover .featured-slider__tag {
  top: 325px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.featured-slider__image {
  max-width: 340px;
  overflow: hidden;
}
.featured-slider__image-img {
  width: 100%;
  border-radius: 24px;
}
.featured-slider__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  height: 34px;
  top: 332px;
  left: 16px;
  position: absolute;
  padding: 0px 16px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
@media screen and (max-width: 378px) {
  .featured-slider__tag {
    top: 265px;
  }
}
.featured-slider__tag_popular {
  background-color: #FEE2E2;
}
.featured-slider__tag_popular .featured-slider__tag-name {
  color: #EF4444;
}
.featured-slider__tag_new-house {
  background-color: #DBEAFE;
}
.featured-slider__tag_new-house .featured-slider__tag-name {
  color: #1D4ED8;
}
.featured-slider__tag_best-deals {
  background-color: #D1FAE5;
}
.featured-slider__tag_best-deals .featured-slider__tag-name {
  color: #047857;
}
.featured-slider__tag-name {
  font-weight: 500;
  margin-left: 10px;
  font-size: 14px;
}
.featured-slider__descr {
  margin-top: 24px;
}
.featured-slider__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #0E1735;
}
.featured-slider__price {
  color: #3C4563;
  margin-top: 8px;
  font-size: 20px;
}
.featured-slider__autor {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.featured-slider__avatar {
  max-width: 40px;
  border-radius: 50%;
}
.featured-slider__autor-name {
  color: #0E1735;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.featured-slider__autor-place {
  color: #888B97;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.slider-active {
  position: static;
}

.main__tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  position: relative;
}
@media screen and (max-width: 472px) {
  .main__tour {
    margin-top: 50px;
  }
}

.tour__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991.98px) {
  .tour__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}

.tour__article {
  width: 100%;
  max-width: 524px;
}
@media screen and (max-width: 991.98px) {
  .tour__article {
    max-width: none;
  }
}
@media (min-width: 550px) {
  .tour__article {
    padding-left: 40px;
  }
}
.tour__headline {
  margin-left: -40px;
}
.tour__title {
  margin-top: 12px;
}
.tour__title_detail {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}
.tour__paragraph {
  margin-top: 16px;
  max-width: 415px;
}
.tour__detail {
  margin-top: 16px;
}
.tour__detail-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 412px) {
  .tour__detail-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .tour__detail-list .tour__detail-el {
    max-width: none;
  }
  .tour__detail-list .tour__detail-el:nth-child(odd) {
    margin: 16px 0 0 0;
  }
}
.tour__detail-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 195px;
  margin-top: 16px;
}
.tour__detail-el:nth-child(odd) {
  margin-right: 100%;
}
.tour__detail-descr {
  color: #3C4563;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.tour__call-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 440px;
}
@media screen and (max-width: 991.98px) {
  .tour__call-box {
    max-width: none;
    min-width: 440px;
  }
}
@media screen and (max-width: 560px) {
  .tour__call-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 0;
  }
  .tour__call-box .tour__user {
    margin-bottom: 15px;
  }
}
.tour__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.tour__user-avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.tour__user-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  color: #0E1735;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.tour__user-status {
  color: #888B97;
  font-size: 16px;
}
.tour__button {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #10B981;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.tour__button:hover {
  background-color: #0d9a6b;
}
.tour__button:hover .tour__call-icon {
  -webkit-animation: 0.4s shake ease-out;
          animation: 0.4s shake ease-out;
}
.tour__call-icon {
  margin-right: 16px;
}

@-webkit-keyframes shake {
  30% {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
  68% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100%, 0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  30% {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
  68% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100%, 0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.tour__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 991.98px) {
  .tour__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tour__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 991.98px) {
  .tour__images {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tour__images .tour__images-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tour__images .tour__video {
    margin: 0;
  }
}
@media screen and (max-width: 472px) {
  .tour__images .tour__images-list {
    padding: 0;
    margin-top: 12px;
  }
}
.tour__video {
  max-width: 488px;
  margin: 0 40px;
}
@media screen and (max-width: 1128px) {
  .tour__video {
    width: 400px;
  }
}
@media screen and (max-width: 472px) {
  .tour__video {
    width: 290px;
  }
}
.tour__images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 12px;
  gap: 12px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 1128px) {
  .tour__images-list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 40px;
    padding-top: 10px;
  }
  .tour__images-list .image__list-other {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.tour__img {
  border-radius: 4px;
}

.image__list-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.tour__decor {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 991.98px) {
  .tour__decor {
    display: none;
  }
}
@media screen and (min-width: 2500px) {
  .tour__decor {
    display: none;
  }
}

.tour-decor__red {
  top: -300px;
  right: 0;
}

.tour-decor__yellow {
  top: -100px;
  right: 0;
}

.main__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
  overflow: hidden;
  min-width: 0;
}

.review-box {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__head {
  padding: 0 15px;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us__slider {
  padding: 40px 0;
}
@media screen and (max-width: 400px) {
  .about-us__slider {
    padding: 40px 0 0 0;
  }
}
.about-us__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 0 -120px 0;
}
@media screen and (min-width: 546px) {
  .about-us__slide {
    max-width: 796px;
    margin: 0 29px -120px 29px;
  }
}
@media screen and (max-width: 638px) {
  .about-us__slide {
    margin-bottom: -30px;
  }
}
@media screen and (max-width: 400px) {
  .about-us__slide {
    margin-bottom: 0;
  }
}
.about-us__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 740px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;
}
@media screen and (max-width: 546px) {
  .about-us__image-box {
    max-width: none;
    width: 100%;
  }
}
.about-us__img {
  width: 100%;
  opacity: 0.7;
}
.about-us__review {
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  max-width: 612px;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  padding: 32px;
  z-index: 10;
}
@media screen and (max-width: 638px) {
  .about-us__review {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@media screen and (max-width: 546px) {
  .about-us__review {
    padding: 16px;
  }
}
.about-us__title_review {
  font-size: 20px;
  line-height: 25px;
}
.about-us__paragraph_review {
  margin: 16px 0;
  color: #626687;
  font-size: 14px;
  line-height: 24px;
}
.about-us__rate {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 400px) {
  .about-us__rate {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
  }
  .about-us__rate .about-us__rate-item {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.about-us__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.about-us__avatar {
  margin-right: 24px;
}
.about-us__user-descr {
  font-weight: 500;
  font-size: 14px;
}
.about-us__user-name {
  font-weight: 500;
  color: #0E1735;
}
.about-us__user-status {
  color: #888B97;
  line-height: 22px;
}
.about-us__rate-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.about-us__rate-icon {
  height: 28px;
}
.about-us__rate-num {
  font-size: 20px;
  font-weight: 600;
}

.main__selling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  position: relative;
}

.selling__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}
.selling__btn-box .selling__btn {
  border-radius: 32px;
  background: #10B981;
  color: #fff;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  padding: 12px 16px;
  margin: 0 auto 32px auto;
}
.selling__btn-box .selling__btn:hover {
  background-color: #047857;
}

.selling__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 991.98px) {
  .selling__offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.selling__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 572px;
}
.selling__post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.selling-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 488px) {
  .selling-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.selling-post:hover .selling-post__img-box::after {
  opacity: 1;
}
.selling-post__img-box {
  min-width: 200px;
  height: 144px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}
.selling-post__img-box:not(:last-child) {
  margin-right: 32px;
}
@media screen and (max-width: 488px) {
  .selling-post__img-box {
    min-width: 0;
    width: 100%;
    height: auto;
  }
}
.selling-post__img-box::after {
  content: "House";
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 23, 53, 0.6274509804);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
}
.selling-post__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.selling-post__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.selling-post__user .user__name {
  color: #3C4563;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.selling-post__title {
  margin-top: 12px;
  color: #1B1C57;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.selling-post__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  color: #888B97;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.selling-post__slash {
  margin: 0 5px;
}
.selling-post__date-icon {
  margin-right: 12px;
}

.selling__post_hero {
  margin: 0;
}
.selling__post_hero .selling-post__img {
  margin-bottom: 15px;
  width: 100%;
}

@media screen and (max-width: 488px) {
  .selling-post__img {
    width: 100%;
  }
}

.selling-post__pharagraph {
  font-size: 14px;
  line-height: 24px;
  max-width: 560px;
}

.user__avatar {
  margin-right: 16px;
  width: 32px;
}

.selling__decor {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 991.98px) {
  .selling__decor {
    display: none;
  }
}
@media screen and (min-width: 2500px) {
  .selling__decor {
    display: none;
  }
}

.decor-green {
  left: 0;
  top: -200px;
}

.decor-yellow {
  left: 0;
  top: 0;
}

.main__subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.subscribe__container {
  position: relative;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 312px;
  background: url("../img/main__subscribe/fill-bg.jpg") center no-repeat;
  background-size: 100%;
  background-size: cover;
  border-radius: 32px;
  padding: 65px 16px;
}
.subscribe__title {
  max-width: 424px;
  margin: 0 auto;
  margin-bottom: 32px;
  z-index: 5;
}
.subscribe__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
}
.subscribe__email_icon {
  left: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 6;
}
.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  border-radius: 32px;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  padding: 0px 140px 0px 14%;
  color: #888B97;
  font-weight: 500;
  font-size: 14px;
  z-index: 5;
}
@media screen and (max-width: 416px) {
  .subscribe__input {
    padding: 0px 0px 0px 15%;
  }
}
.subscribe__btn {
  z-index: 6;
  position: absolute;
  right: 4px;
  top: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  width: 130px;
  height: 38px;
  border-radius: 32px;
  background-color: #10B981;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 416px) {
  .subscribe__btn {
    top: auto;
    bottom: -100%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
.subscribe__btn:hover {
  background-color: #047857;
}
.subscribe .subscribe__btn-icon {
  background-color: #0ca77e;
  margin-top: 100px;
}

@media screen and (max-width: 991.98px) {
  .subscribe__decor {
    display: none;
  }
}
.subscribe__decor .subscribe__decor-el {
  position: absolute;
  z-index: 0;
}
.subscribe__decor .el1 {
  top: 38px;
  left: 44px;
}
.subscribe__decor .el2 {
  bottom: 63px;
  left: 37px;
}
.subscribe__decor .el3 {
  top: 51px;
  left: 184px;
}
.subscribe__decor .el4 {
  bottom: 80px;
  left: 204px;
}
.subscribe__decor .el5 {
  top: 44px;
  right: 200px;
}
.subscribe__decor .el6 {
  right: 170px;
  bottom: 73px;
}
.subscribe__decor .el7 {
  top: 82px;
  right: 52px;
}
.subscribe__decor .el8 {
  bottom: 53px;
  right: 70px;
}

/* FOOTER */
.footer {
  padding-bottom: 120px;
  position: relative;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 991.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .footer__hounter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-right: 0px;
  }
  .footer__container .footer__hounter .paragraph {
    max-width: none;
  }
  .footer__container .footer__hounter .footer-hounter__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .footer__hounter .footer-hounter__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
    row-gap: 40px;
  }
}
.footer__hounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 60px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 600px;
}

.footer-hounter__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-hounter__logo-txt {
  font-weight: 700;
  line-height: 20px;
  margin-left: 12px;
}
.footer-hounter__paragraph {
  font-size: 14px;
  max-width: 320px;
  margin: 16px 0px;
}
.footer-hounter__social {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-hounter__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  position: relative;
}
.footer-hounter__social-box::before {
  content: "";
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(18deg, rgb(185, 255, 130) 5%, rgb(130, 187, 255) 59%, rgb(0, 212, 255) 94%);
}
.footer-hounter__social-box:hover::before {
  opacity: 1;
}
.footer-hounter__social-box:not(:last-child) {
  margin-right: 24px;
}
.footer-hounter__social-icon {
  margin: 0 auto;
  z-index: 2;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 80px;
}
.footer-menu__title {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}
.footer-menu__menu {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.footer-menu__item {
  margin-top: 18px;
  font-size: 14px;
  color: #888B97;
}
.footer-menu__link {
  color: #888B97;
  position: relative;
}
.footer-menu__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1B1C57;
  -webkit-transition: width 0.15s ease-in;
  transition: width 0.15s ease-in;
}
.footer-menu__link:hover::before {
  width: 70%;
  border-radius: 4px;
}

.footer-menu__contacts a:hover {
  color: #888B97;
  text-decoration: underline;
}
.footer-menu__contacts a:hover::before {
  width: 0;
}

.footer__decor-item {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 991.98px) {
  .footer__decor-item {
    display: none;
  }
}
@media screen and (min-width: 2500px) {
  .footer__decor-item {
    display: none;
  }
}
.footer__decor-item_green {
  bottom: 0;
  right: 120px;
}
.footer__decor-item_blue {
  bottom: 0;
  right: 0;
}